<%- include('./partials/header.ejs',{title:"Harshal Khairnar"})%>
    <div id="bodycon" class="bg1">
        <%- include('./partials/nav.ejs',{page:"about"})%>

            <div id="cont-con" class="about-pg">
                <div class="head-con">
                    <h1>About Me</h1>
                    <h5><span class="headi">--</span>
                        <i class="fa-solid fa-infinity headi">
                        </i>
                        <span class="headi">--</span>
                    </h5>
                </div>

                <div id="profile-con">
                    <div id="prof-cont">
                        <div id="prof-img">
                            <img src="img/harshprof1.jpg" alt="">
                        </div>
                        <div id="prof-abt">
                            <h1>Harshal Khairnar</h1>
                            <h2><i class="fa-solid fa-map-location-dot"></i> Indore,India</h2>
                            <p>Hello, I'm Harshal Khairnar, a student who persuing Integrated Master of Computer Applications from Acropolis Institute of Technology & Research, Indore. I am a Fresher and I have no work Experience. I want to learn new technologies to grow my skills. I think learning never ends, we are learners in every stage of life. I believe in team working, working together on a project is more effective than working alone. I like to watch movie when I feel bored. I like teaching and also love photography a little bit. The secret of creativity is knowing how to hide your sources. I am very foodie. I like to eat new dishes.</p>
                        </div>
                    </div>
                    <div id="prof-point">
                        <div class="pt-box">
                            <h6 class="pt-icon">
                                <i class="fa-solid fa-star"></i>
                            </h6>
                            <div class="pt-text">
                                <h1>Fresher</h1>
                                <h2>Experience</h2>
                            </div>
                        </div>
                        <div class="pt-box">
                            <h6 class="pt-icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </h6>
                            <div class="pt-text">
                                <h1>Learning</h1>
                                <h2>Continue</h2>
                            </div>
                        </div>
                        <div class="pt-box">
                            <h6 class="pt-icon">
                                <i class="fa-solid fa-laptop-code"></i>
                            </h6>
                            <div class="pt-text">
                                <h1>To hire</h1>
                                <h2>Available</h2>
                            </div>
                        </div>
                        <div class="pt-box">
                            <button><a href="file/Harshal Khairnar CV.pdf"  download style="text-decoration: none; color:var(--w-col)">Download Cv</a></button>
                        </div>
                    </div>
                </div>

                <div class="int-head">
                    <h1>My Interests</h1>
                    <h5><span class="headi">--</span>
                        <span class="headi">o</span>
                        <span class="headi">--</span>
                    </h5>
                </div>

                
                <div id="interest-con">
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-film"></i>
                        </h2>
                        <h3 >
                            Movies
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-utensils"></i>
                        </h2>
                        <h3 >
                            Cooking
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-palette"></i>
                        </h2>
                        <h3 >
                            Drawing
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-headphones"></i>
                        </h2>
                        <h3 >
                            Music
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-image"></i>
                            </h2>
                        <h3 >
                            Photography
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-laptop"></i>
                            </h2>
                        <h3 >
                            Programming
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-book"></i>
                        </h2>
                        <h3 >
                            Teaching
                        </h3>
                    </div>
                    <div class="in-field">
                        <!-- <h2 >
                            <i class="fa-solid fa-film"></i>
                        </h2>
                        <h3 >
                            Movie
                        </h3> -->
                    </div>
                </div>


                <div class="int-head">
                    <h1>Wish List</h1>
                    <h5><span class="headi">--</span>
                        <span class="headi">o</span>
                        <span class="headi">--</span>
                    </h5>
                </div>
                <div id="interest-con">
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                            Visit Kedarnath
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                            Bungee Jumping
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                            Goa Trip
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 >
                            Help Educating children
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                            6 pack abs
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                              Own Wooden House
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                            Travelled by chennai express
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 class="in-text">
                            Open my own school
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 >
                    Ooty Tour
                        </h3>
                    </div>
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 >
                            Bullet riding
                        </h3>
                    </div>
                    
                    <div class="in-field">
                        <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 >
                            Manali Trip
                        </h3>
                    </div>
                    <div class="in-field">
                        <!-- <h2 >
                            <i class="fa-solid fa-bullseye"></i>
                        </h2>
                        <h3 >
        
                        </h3> -->
                    </div>
                </div>
            </div>
    </div>
    <%- include('./partials/footer.ejs')%>