<%- include('./partials/header.ejs',{title:"Harshal Khairnar"})%>
<div id="bodycon" class="bg1">
<%- include('./partials/nav.ejs',{page:"portfolio"})%>

<div id="cont-con" class="portfolio-pg">
    <div class="head-con">
        <h1>Portfolio</h1>
        <h5><span class="headi">--</span>
            <i class="fa-solid fa-infinity headi">
            </i>
            <span class="headi">--</span>
        </h5>
    </div>
</div>
</div>
<%- include('./partials/footer.ejs')%>