<%- include('./partials/header.ejs',{title:"Harshal Khairnar"})%>
    <div id="bodycon" class="bg1">
        <%- include('./partials/nav.ejs',{page:"resume"})%>

            <div id="cont-con" class="resume-pg">
                <div class="head-con">
                    <h1>Resume</h1>
                    <h5><span class="headi">--</span>
                        <i class="fa-solid fa-infinity headi">
                        </i>
                        <span class="headi">--</span>
                    </h5>
                </div>

                <div id="ed-con">
                    <div id="skilsec">
                        <div class="int-head reshead">
                            <h1>Skills</h1>
                            <h5><span class="headi">--</span>
                                <span class="headi">o</span>
                                <span class="headi">--</span>
                            </h5>
                        </div>

                        <div id="skill-main">
                            <div class="skil">
                                <h1>HTML <span style="margin-left: 66%">79%</span></h1>
                                <div class="progress" role="progressbar" aria-label="Example with label"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 79%"></div>
                                </div>
                            </div>
                            <div class="skil">
                                <h1>CSS <span style="margin-left: 56%">65%</span></h1>
                                <div class="progress" role="progressbar" aria-label="Example with label"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 65%"></div>
                                </div>
                            </div>
                            <div class="skil">
                                <h1>JavaScript  <span style="margin-left: 66%">85%</span></h1>
                                <div class="progress" role="progressbar" aria-label="Example with label"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 85%"></div>
                                </div>
                            </div>
                            <div class="skil">
                                <h1>Node & Express JS  <span style="margin-left: 39%">68%</span></h1>
                                <div class="progress" role="progressbar" aria-label="Example with label"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 68%"></div>
                                </div>
                            </div>
                            <div class="skil">
                                <h1>MongoDB  <span style="margin-left: 40%">54%</span></h1>
                                <div class="progress" role="progressbar" aria-label="Example with label"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 54%"></div>
                                </div>
                            </div>
                            <div class="skil">
                                <h1>Core Java  <span style="margin-left: 63%">80%</span></h1>
                                <div class="progress" role="progressbar" aria-label="Example with label"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%"></div>
                                </div>
                            </div>
                
                        </div>

                    </div>
                    <div id="ed-sec">
                        <div class="int-head reshead">
                            <h1>Education</h1>
                            <h5><span class="headi">--</span>
                                <span class="headi">o</span>
                                <span class="headi">--</span>
                            </h5>
                        </div>
                        <div id="ed-content">
                            <div class="ed-item">
                                <p class="crs">Integrated Master Of Computer Apllications</p>
                                <p class="dur"> <i class="fa-solid fa-calendar-days"></i> 2021 - 2026 | Computer
                                    Application</p>
                                <p class="inst">Acropolis Institute Of Technology, Indore</p>
                                <p class="marks">8.31 CGPA</p>
                            </div>
                            <div class="ed-item">
                                <p class="crs">Class XII</p>
                                <p class="dur"> <i class="fa-solid fa-calendar-days"></i> 2021 | PCM </p>
                                <p class="inst">Nehru Smruti Higher Secondary School, Sendhwa</p>
                                <p class="marks">97.4 Percentage</p>
                            </div>
                            <div class="ed-item">
                                <p class="crs">Class X</p>
                                <p class="dur"> <i class="fa-solid fa-calendar-days"></i> 2019</p>
                                <p class="inst">Premsukh Public High School, Sendhwa</p>
                                <p class="marks">96.6 Percentage</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <div id="exp-con">
                    <div class="int-head reshead">
                        <h1>Experience</h1>
                        <h5><span class="headi">--</span>
                            <span class="headi">o</span>
                            <span class="headi">--</span>
                        </h5>
                    </div>
                    <p>Fresher</p>
                    
                </div>
                <div id="motivation-con">
                    <div class="int-head reshead">
                        <h1>Motivation</h1>
                        <h5><span class="headi">--</span>
                            <span class="headi">o</span>
                            <span class="headi">--</span>
                        </h5>
                    </div>
                    <div id="mot-content">
                
                    </div>
                    
                </div>  -->
            </div>
    </div>
    <%- include('./partials/footer.ejs')%>
